<div class="container">
    <div class="card">
        <div style="margin: auto;">
            <h3>Change Password</h3>
        </div>
        <hr>
        <form [formGroup]="passwordForm">
            <label for="">Old Password</label>
             <input [type]="showEye ? 'text' : 'password'"  class="form-control" placeholder="Password" formControlName="oldPassword">
            <label for="">New Password</label>
             <input [type]="showEye ? 'text' : 'password'"  class="form-control" placeholder="Password" formControlName="newPassword">
             <label for="">Confirm Password</label>
             <div style="display: flex;">
                 <input [type]="showEye ? 'text' : 'password'" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
             </div>
            
             <div class="check" >
                 <input type="checkbox" (click)="showHidePassword()"><span>Show Password</span>
             </div>
         </form>
             <button type="submit" class="btn" (click)="resetPassword()"> Submit </button>
       
    </div>
    </div>
