<div class="container1">
    
    <!-- title start -->
    
        <div class="title">
            <h3>Add Admin</h3>
        </div>
        <hr>
        
        <div class="box">
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">Name</label>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">Email</label>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">Mobile</label>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                   
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-md-2">
                            <label for="">User Role</label>
                        </div>
                        <div class="col-md-1">:</div>
                        <div class="col-md-8">
                            <input type="text" class="form-control">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="card" style="width: 1000px;margin: auto;margin-top: 30px;">
            <table class="table table-hover table-striped table-borderd">
                <thead>
                    <tr style="text-align: center;">
                      <th scope="col">Pages</th>
                      <th scope="col">Permission</th>
                   
                    </tr>
                  </thead>
                
                  <tbody  style="text-align: center;">
                    <tr>
                        <td>User Management</td>
                        <td><input type="checkbox"></td>
                    </tr>
                   
                   
                    <tr>
                        <td>Static Management</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Banner Management</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Product Management</td>
                        <td><input type="checkbox"></td>
                    </tr>
                    <tr>
                        <td>Sub Admin Management</td>
                        <td><input type="checkbox"></td>
                    </tr>
                </tbody>
            </table>
            <div style="margin: auto;">
                <button class="btn"> Cancel</button>
                <button class="btn">Add</button>
            </div>
        </div>
        </div>
    