<div class="banner">
<div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item" *ngFor="let item of bannerListArray; let i=index"  [ngClass]="{'active': i == 0 }">
        <img class="d-block w-100" src="{{item?.bannerImage}}">
      </div>
    </div>
    <div class="right">
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
    </div>
  <div class="left">
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
  </div>
  </div>
  </div>

  <div class="">
    <header> 
        <h4 >Category</h4>
        <a >Men Fashion</a>
        <a >Woman Fashion</a>
        <a >Beauty</a>
        <a >Mobile</a>
        <a >Computers</a>
        <a >Watch</a>
        <a >Kitchen</a>
        <a>Sports</a>
 
     </header>
 </div>
<div class="row" >
    <div class="col-md-3" *ngFor="let item of productArray">
        <div class="card" >
            <h4>{{item.productName}}</h4>
            <img src="{{item.productImage }}" alt="">
       
        <div class="product" >
            <a (click)="addCart(item._id)" > Add to  Cart</a>
            <div class="price">
                <p>Vivo {{item.sellingPrice}} <span>${{item.mrp}}</span></p>
            </div>
        </div>
    
</div>
</div>
</div>

<div class="computer">
  <h3>Computers and Laptop</h3>
  <div class="row">
    <div class="col-md-3">
      <div class="card">
          <h4>Mobile</h4>
          <img src="assets/images/mobile.jpg" alt="">
     
      <div class="product" >
          <a routerLink="/cart" > Add to  Cart</a>
          <div class="price">
              <p>Vivo $100 <span>$1000</span></p>
          </div>
      </div>
  </div>
</div>
  </div>
</div>
 