<div class="container1">

    

    <div class="title">
        <h3>Product Details</h3>
    </div>
    <hr>
    <div class="card">
        <div class="row">
            <div class="col-md-3">
                <label for="">Product Name</label>
            </div>
            <div class="col-md-1">:</div>
            <div class="col-md-6">{{productData?.productName}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Category</label>
            </div>
            <div class="col-md-1">:</div>
            <div class="col-md-6">{{productData?.category || '---'}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">MRP</label>
            </div>
            <div class="col-md-1">:</div>
            <div class="col-md-6">{{productData?.mrp || '---'}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Selling Price</label>
            </div>
            <div class="col-md-1">:</div>
            <div class="col-md-6">{{productData?.sellingPrice}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Discounts</label>
            </div>
            <div class="col-md-1">:</div>
            <div class="col-md-6">{{productData?.disscount}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Description</label>
            </div>
            <div class="col-md-1">:</div>
            <div class="col-md-6">{{productData?.description}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Product Image</label>
            </div>
            <div class="col-md-1">:</div>
            <div class="col-md-6">
                <img src="{{productData?.productImage}}" alt="">
            </div>
        </div>
        <div>
            <button class="btn" routerLink="/product-management">Back</button>
            
        </div>
    </div>
</div>