.card{
    height: auto;
    width: 100%;
    margin: 15% auto auto auto;
    padding: 20px;

}
.btn{
    width: 100%;
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
    color: white;
    cursor: pointer;
    background-color: rgb(9, 95, 175);
}
.container{
    padding: 20px;
    width: 700px;
}
.form-control{
    height: 45px;
}
.check{
    display: inline;
    margin-top: 20px;
}
.check a{
    float: right;
    
}

.register{
    margin: 20px auto auto auto;
   
}
.register a{
    font-size: 18px;
}
.check span{
    margin-left: 10px;
}
.eye{
    position: absolute;
    right: 33px;
    bottom: 200px;
    cursor: pointer;
}
label{
    margin-top: 10px;
}
@media (max-width:768px) {
    .container{
        width: 100%;
    }
}