<div class="cart" *ngIf="!isLoggedin">
    <div class="card ">
        <p class="card1">My Cart</p>


        <div class="inside-cart card1" >
            <img src="assets/images/mobile.jpg" alt="">
            <p>Samsung Galaxy M30</p>
            <p>
                <span>₹80 </span>
                <span style="text-decoration: line-through;">₹100 </span>
                <span>20% off</span>
            </p>

        </div>
      
        <div class="footer">
            <div class="left">
                <p>Save For Later</p>
            </div>

            <div class="right">
                <p>Remove Item</p>
            </div>

        </div>




    </div>
    <div class="card card1 " style="margin-top: 10px;">
        <div>
            <P>PRICE DETAILS</P>
            <hr>
        </div>
        <div class="amount">
            <p> Price(1 Item)</p>
            <p>100</p>
        </div>
        <div class="amount">
            <p> Discounts</p>
            <p>20</p>
        </div>
        <div class="amount">
            <p> Delivery charges</p>
            <p>Free</p>
        </div>
        <hr>
        <div class="amount">
            <p> Total Amount</p>
            <p>80</p>
        </div>
    </div>

</div>