<div class="container1">
    <div class="title">
        <h3>Dashboard</h3>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <p> <i class="fas fa-user"></i> Totol Users</p>
                <p>50</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <p> <i class="fas fa-user"></i> Totol Product</p>
                <p>50</p>
            </div>
        </div>
     
    </div>
    
</div>
