<div class="container">
    <div class="card">
        <div class="pageTitle">
            <h4>Forget Password</h4>
        </div>
        <hr>
        <div style="margin-top: 20px;">
            <input type="email" class="form-control" placeholder="Enter your registered email">
           
        </div>
        <div class="box">
            <button type="submit" class="btn"> Submit </button>
        </div>
       <!-- <label for="">Enter Your Registered Email</label> -->

       
    </div>
</div>