.card{
    height: auto;
    width: 100%;
    margin: 15% auto auto auto;
    padding: 20px;

}
.btn{
    width: 50%;
    height: 50px;
    font-size: 20px;
    font-weight: 900;
    margin-top: 30px;
    color: white;
    cursor: pointer;
    background-color: rgb(9, 95, 175);
}
.container{
    padding: 20px;
    width: 700px;
}
input{
    height: 45px;
}
.box{
    margin: auto;
}
.pageTitle{
    margin: auto;
}
@media (max-width:768px) {
    .container{
        width: 100%;
    }
}