<div class="container">
    <div class="card">
        <div class="pageTitle">
            <h4>Forget Password</h4>
        </div>
        <hr>
        <form [formGroup]="forgotForm">
        <div style="margin-top: 20px;">
            <input type="email" class="form-control" placeholder="Enter your email" formControlName= "email">
           
        </div>
    </form>
        <div class="box">
            <button class="btn" (click) = "forgotPassword()"> Submit </button>
        </div>
       <!-- <label for="">Enter Your Registered Email</label> -->

       
    </div>
</div>