
<div class="container1">

    

    <div class="title">
        <h3>{{staticData?.pageKey}}</h3>
    </div>
    <hr>
    <div class="card">
        <div class="row">
            <div class="col-md-3">
                <label for="">Page</label>
            </div>
            <div class="col-md-1">:</div>
            <div class="col-md-6">{{staticData?.pageKey}}</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <label for="">Content</label>
            </div>
            <div class="col-md-1">:</div>
            <div class="col-md-6">{{staticData?.data || '---'}}</div>
        </div>
        <div>
            <button class="btn" routerLink="/static-management">Back</button>
            <button class="btn" (click)="edit()">Edit</button>
        </div>
    </div>
    
</div>