
<div class="container1">

    

    <div class="title">
        <h3>View Banner</h3>
    </div>
    <hr>
    <div class="card">
        <div class="row">
            <div class="col-md-3">
                <label for="">Banner Iamge</label>
            </div>
            <div class="col-md-1">:</div>
            <div class="col-md-8">
                <img src="{{bannerData?.bannerImage}}" alt="">
            </div>
        </div>
       
        <div>
            <button class="btn" routerLink="/banner-management">Back</button>
            
        </div>
    </div>
</div>