<div class="container">
        <div class="card">
            <div style="margin: auto;">
                <h3>Reset Password</h3>
            </div>
            <hr>
            <form [formGroup]="resetForm">
                <label for="">Password</label>
                 <input [type]="showEye ? 'text' : 'password'"  class="form-control" placeholder="Password" formControlName="password">
                 <label for="">Confirm Password</label>
                 <div style="display: flex;">
                     <input [type]="showEye ? 'text' : 'password'" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword">
                 </div>
                
                 <div class="check" >
                     <input type="checkbox" (click)="showHidePassword()"><span>Show Password</span>
                 </div>
             </form>
                 <button type="submit" class="btn" (click)="resetPassword()"> Reset Password </button>
           
        </div>
        </div>
